<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formations Informatique - Accueil</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="static/style/index.css" rel="stylesheet" />
    <link rel="icon" type="image/svg" href="/static/image/favicon.svg">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="/static/image/FI.svg" alt="FI+ Logo">
            </a>
        </div>
        <div class="burger" id="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="navbar-menu">
            <li><a href="/langages" class="navbar-link"><i class="fas fa-laptop-code"></i> Langages</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-network-wired"></i> Dev Web</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-database"></i> Bases de données</a></li>
            <li><a href="/maths" class="navbar-link"><i class="fas fa-calculator"></i> Maths</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-desktop"></i> OS</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-code-branch"></i> Paradigmes</a></li>
        </ul>
    </nav>

    <section class="hero">
        <div class="hero-content">
            <div class="logo-container">
                <img src="/static/image/FI.svg" alt="FI+ Logo">
            </div>
            <h1>FI+ - Cours particuliers</h1>
            <p>Apprends à ton rythme avec des cours personnalisés.</p>
            <a href="/services" class="btn-primary">Découvrez nos services</a>
        </div>
    </section>

    <section class="services" id="services">
        <div class="services-content">
            <h2>Ce que vous pouvez trouver sur le site</h2>
            <p>Nous proposons une gamme de cours particuliers dans divers domaines pour vous aider à progresser à votre rythme. Voici les principaux cours que vous pouvez découvrir :</p>

            <div class="services-list">
                <div class="service-item">
                    <i class="fas fa-laptop-code"></i>
                    <h3><a href="/langages" class="service-link">Langages de programmation</a></h3>
                    <p>Apprenez les bases des langages populaires comme Python, JavaScript, C++, et plus encore.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-network-wired"></i>
                    <h3><a href="" class="service-link">Développement Web</a></h3>
                    <p>Maîtrisez le développement de sites web modernes avec HTML, CSS, JavaScript, et des frameworks comme React et Vue.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-database"></i>
                    <h3><a href="" class="service-link">Bases de données</a></h3>
                    <p>Apprenez à travailler avec les bases de données relationnelles, SQL, PostgreSQL, et bien plus encore.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-calculator"></i>
                    <h3><a href="/maths" class="service-link">Mathématiques</a></h3>
                    <p>Étudiez des concepts allant des bases aux sujets avancés, y compris les probabilités, la géométrie, et les équations différentielles.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-desktop"></i>
                    <h3><a href="" class="service-link">Systèmes d'exploitation</a></h3>
                    <p>Explorez des systèmes d'exploitation comme Windows, Fedora, Ubuntu, et apprenez à les administrer efficacement.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-code-branch"></i>
                    <h3><a href="" class="service-link">Paradigmes de programmation</a></h3>
                    <p>Explorez différents paradigmes et comprenez mieux la théorie de l'informatique.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="services" id="specific-services">
        <div class="services-content">
            <h2>Nos services</h2>
            <p>Nous proposons une gamme de cours particuliers dans les domaines suivants :</p>

            <div class="services-list">
                <div class="service-item">
                    <i class="fas fa-laptop-code"></i>
                    <h3><a href="https://www.superprof.fr/freelance-informatique-etudiant-troisieme-annee-faculte-informatique-lyon-propose-cours-numerique.html" class="service-link">NSI (Numérique et Sciences Informatiques)</a></h3>
                    <p>Des cours adaptés pour le programme de la spécialité NSI du lycée, y compris les bases de la programmation, les algorithmes et les bases de données.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-calculator"></i>
                    <h3><a href="https://www.superprof.fr/etudiant-troisieme-annee-licence-informatique-universite-lyon-parcours-data-science-developpeur-freelance.html" class="service-link">Mathématiques</a></h3>
                    <p>Des cours allant des mathématiques de niveau collège - lycée jusqu'au Bac, couvrant l'analyse, la géométrie, les probabilités, et plus encore.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-desktop"></i>
                    <h3><a href="https://www.superprof.fr/etudiant-3eme-annee-faculte-informatique-lyon-freelance-domaine-informatique-donne-cours-informatique.html" class="service-link">Informatique (Bac+1 à Bac+3)</a></h3>
                    <p>Des cours d'informatique pour les étudiants en Bac+1 à Bac+3, abordant les concepts avancés en algorithmique, structures de données, et systèmes.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-network-wired"></i>
                    <h3><a href="https://www.superprof.fr/developpeur-web-freelance-etudiant-informatique-lyon-cours-particuliers-developpement-web.html" class="service-link">Programmation Web</a></h3>
                    <p>Des cours sur le développement web moderne avec des technologies comme HTML, CSS, JavaScript, ainsi que des frameworks comme NodeJS et Vue.js.</p>
                </div>
                <div class="service-item">
                    <i class="fas fa-cogs"></i>
                    <h3><a href="/cours/architectures-web" class="service-link">Architectures Web</a></h3>
                    <p>Découvrez les concepts clés des architectures web, de la gestion des serveurs aux systèmes distribués.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-me" id="about-me">
        <div class="about-me-content">
            <h2>À propos de moi</h2>
            <p>Je suis passionné par l'enseignement et la technologie, et j'ai créé ce site pour mes élèves. Vous pouvez trouver ici des ressources, des cours et des informations pour vous aider à progresser dans vos études. Pour des cours personnalisés et plus détaillés, n'hésitez pas à consulter mon profil Superprof.</p>
            <div class="about-me-details">
                <img src="/static/image/luka.jpg" alt="Mon image" class="about-me-image">
                <div class="about-me-description">
                    <p>En tant que professeur particulier, je m'engage à fournir des cours adaptés à vos besoins, que ce soit pour les langages de programmation, les mathématiques, ou d'autres domaines de la technologie.</p>
                    <a href="https://www.superprof.fr/freelance-informatique-etudiant-troisieme-annee-faculte-informatique-lyon-propose-cours-numerique.html#opinions" class="btn-primary" target="_blank">Voir mes cours sur Superprof</a>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio" id="portfolio">
        <div class="portfolio-content">
            <h2>Mon Portfolio</h2>
            <p>Découvrez certains de mes projets récents et mon expertise à travers mon portfolio en ligne.</p>
            <a href="https://lukabaudrant.vld-group.com/" class="btn-primary" target="_blank">Visitez mon portfolio</a>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>&copy; 2025 FI+ - Tous droits réservés</p>
            </div>
            <div class="footer-center">
                <ul class="footer-links">
                    <li><a href="https://lukabaudrant.vld-group.com/#about">À propos</a></li>
                    <li><a href="/services">Nos services</a></li>
                    <li><a href="https://lukabaudrant.vld-group.com/" target="_blank">Portfolio</a></li>
                    <li><a href="https://www.superprof.fr/freelance-informatique-etudiant-troisieme-annee-faculte-informatique-lyon-propose-cours-numerique.html#opinions" target="_blank">Superprof</a></li>
                </ul>
            </div>
            <div class="footer-right">
                <p>Contactez-moi : <a href="mailto:baudrantl@gmail.com">baudrantl@gmail.com</a></p>
            </div>
        </div>
    </footer>



    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const burger = document.getElementById("burger");
        const menu = document.querySelector(".navbar-menu");

        // Toggle menu burger
        burger.addEventListener("click", function () {
            menu.classList.toggle("active");
        });
    });
    </script>
</body>
</html>
