<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Formations Informatique - Langages</title>
    <link rel="stylesheet" href="/static/style/course.css">
    <link rel="icon" type="image/svg" href="/static/image/FI.svg">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="/static/image/FI.svg" alt="FI+ Logo">
            </a>
        </div>
        <div class="burger" id="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul class="navbar-menu">
            <li><a href="/langages" class="navbar-link"><i class="fas fa-laptop-code"></i> Langages</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-network-wired"></i> Dev Web</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-database"></i> Bases de données</a></li>
            <li><a href="/maths" class="navbar-link"><i class="fas fa-calculator"></i> Maths</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-desktop"></i> OS</a></li>
            <li><a href="#" class="navbar-link"><i class="fas fa-code-branch"></i> Paradigmes</a></li>
        </ul>
    </nav>
    <h1>Choisissez un niveau</h1>
    <div class="langage-container">
        <a href="/cours/6eme/les-nombres-entiers-et-decimaux?langage=6eme&cours=les-nombres-entiers-et-decimaux" class="langage-card">6 ème</a>
        <a href="/cours/5eme/intro?langage=5eme&cours=intro" class="langage-card">5 ème</a>
        <a href="/cours/4eme/intro?langage=4eme&cours=intro" class="langage-card">4 ème</a>
        <a href="/cours/3eme/theoreme-de-pythagore?langage=3eme&cours=theoreme-de-pythagore" class="langage-card">3 ème</a>
        <a href="/cours/seconde/intro?langage=seconde&cours=intro" class="langage-card">Seconde</a>
        <a href="/cours/premiere/intro?langage=premiere&cours=intro" class="langage-card">Premère</a>
        <a href="/cours/terminale/intro?langage=terminale&cours=intro" class="langage-card">Terminale</a>
        <a href="/cours/analyse/intro?langage=analyse&cours=intro" class="langage-card">Analyse</a>
        <a href="/cours/stats/intro?langage=stats&cours=intro" class="langage-card">Statistiques inférentielles</a>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const burger = document.getElementById("burger");
        const menu = document.querySelector(".navbar-menu");

        // Toggle menu burger
        burger.addEventListener("click", function () {
            menu.classList.toggle("active");
        });
    });
    </script>
</body>
</html>
